# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Environment variables and secrets
.env
.env.*
*.env

# SQLite database
*.sqlite3

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/ 