<style>
  body,html{
    margin:0;
    padding: 0;;
    height:100%
  }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Curelink</title>
</head>
<body>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.css" rel="stylesheet" />
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">CureLink</a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i></button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link">Welcome, {{ user.first_name }}</a>                        
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="/doctors">Doctors</a>
          </li>
          {% if user.is_authenticated %}
          {% if user.is_staff %}
            <li class="nav-item">
              <a class="nav-link" href="/add-doctor">Add Doctor</a>
            </li>
          {% endif %}
          <li class="nav-item"><a href="/myappointments" class="nav-link">My Appointments</a></li>         
          <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>         
          {% else %}
          <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <div class="container">

    {% block content %}
    {% endblock %}
  </div>
  <br><br>
</body>
<footer class="bg-light text-center">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Made by
    <div class="container p-4 d-flex flex-row justify-content-center">
      
        <div class="col-lg-6 col-md-12 mb-4 m-md-1">
          <h5 class="text-uppercase">Joyjeet Roy</h5>
        </div>
        <div class="col-lg-6 col-md-12 mb-4 m-md-1">
          <h5 class="text-uppercase">Bhaagyesh Sajja</h5>
        </div>
      
    </div>
  </div>
</footer>
</html>