{% extends "base.html" %}
{% block content %}
<div class="card mx-4 mx-md-5 shadow-5-strong" style="
        
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Log In!</h2>
          <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-outline mb-4">
              <input type="text" id="username" class=" form-control" name="username" placeholder="Username" required />
              <label class="form-label" for="username">Username</label>
            </div>
            <div class="form-outline mb-4">
              <input type="password" id="password" class=" form-control" name="password" placeholder="password" required />
              <label class="form-label" for="password">Password</label>
            </div>
            <input type="submit" class="btn btn-primary btn-block mb-4" value="Log In">
            </input>
          </form>
          
        </div>
      <div class="text-center">
        <p>Don't have an account? <a href="{% url 'register' %}" class="ml-2">Register</a></p>
      </div>
      <div class="text-center">
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if 'success' in message.tags %}alert-success{% elif 'info' in message.tags %}alert-warning{% endif %}" role="alert">
          {{message}}
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
    </div>
</div>
{% endblock %}
